{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="container p-3">
    <h1 class="text-center md-10 mb-5 font-weight-bold">물품 상세 정보</h1>
    <div class="row">
      <div class="col-md-4">
        <img class="img-thumbnail mb-4" src="{% static 'img/item1.jpg' %}" alt="">
      </div>
      <div class="col-md-8">
        <div class="container">
          <h2 class="text-center md-10 mb-4 font-weight-bold">{{ auction.name }}</h2>
          <div class="card card-lg mb-3">
            <div class="card-body">
              <h3 class="card-title text-center font-weight-bold">기본 정보</h3>
              <h4 class="card-text text-left jb-large">
                <br/>
                <div class="row">
                  <div class="col-md-6">
                    시작가: {{ auction.min_bid }}원
                  </div>
                  <div class="col-md-6">
                    현재가: {{ auction.now_bid }}원
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    최고가: {{ auction.max_bid }}원
                  </div>
                  <div class="col-md-6">
                    입찰: {{ auction.participants_count }}명
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    시작: {{ formatted_start_datetime }}
                  </div>
                  <div class="col-md-6">
                    종료: {{ formatted_end_datetime }}
                  </div>
                </div>
              </h4>
            </div>
          </div>
          <div class="card card-lg">
            <div class="card-body">
              <h3 class="card-title text-center font-weight-bold">상세 정보</h3>
              <h4 class="card-text text-left jb-large">
                <br/>
                {{ auction.contents }}
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="p-2">
          <img class="img-responsive img-thumbnail mb-4 float-left" src="{% static 'img/item1.jpg' %}" alt=""
               width="200">
        </div>
      </div>
    </div>
    <button class="btn btn-primary btn-lg mb-4 pull-right btn-block">입찰</button>
    {% if request.user.is_admin %}
              <a href="delete" onclick="return confirm('정말 삭제하시겠습니까?');" class="btn btn-primary" style="margin-left: 10px;">삭제</a>
              {% endif %}
            
  </div>

{% endblock %}
