{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="SNU Charity Auction">
  <meta name="author" content="SNU Charity Auction Team">

  <title>{% block title %} SNU자선경매 {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">SNU자선경매</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a class="btn btn-md btn-light nav-login-btn nav-login-btn">{{ request.user.username }}님</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a class="btn btn-md btn-primary nav-login-btn" href="/logout">로그아웃</a>
            {% else %}
              <a class="btn btn-md btn-primary nav-login-btn" href="/login">로그인</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark" style="position: relative !important;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; SNU Charity Auction 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>
