{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- Page Content -->
  <div class="container">
    <h4 class="mb-3">새 경매 등록하기</h4>
    <form class="needs-validation" novalidate action="/api/auction/create/" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="name">제목</label>
          <div class="input-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="" value="" required>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="min-bid">시작가(원)</label>
          <input type="text" class="form-control" name="min-bid" id="min-bid" placeholder="" value="" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="max-bid">최고가(원)</label>
          <input type="text" class="form-control" name="max-bid" id="max-bid" placeholder="" value="" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="start-datetime">시작일(yyyy-MM-dd HH:mm:ss)</label>
          <input type="text" class="form-control" name="start-datetime" id="start-datetime" placeholder="(yyyy-MM-dd HH:mm:ss)" value="" required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="end-datetime">종료일(yyyy-MM-dd HH:mm:ss)</label>
          <input type="text" class="form-control" name="end-datetime" id="end-datetime" placeholder="(yyyy-MM-dd HH:mm:ss)" value="" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="contents">내용</label>
          <textarea class="form-control" name="contents" id="contents" rows="20" ></textarea>

        </div>
      </div>

      <div class="filebox bs3-primary">
        <input class="upload-name" value="사진 선택" disabled="disabled">

        <label for="input-file">업로드</label>
        <input type="file" id="input-file" class="upload-hidden">
      </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">등록하기</button>
    </form>
  </div>
  <!-- /.container -->

{% endblock %}
