{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Page Content -->
      <div>
      <button>
        <a href="user-list">사용자보기</a>
      </button>
    </div>
  <div class="container">
    {% if not request.user.is_authenticated %}
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">기부와 경매를 동시에</h1>
      <p class="lead">SNU 자선경매는 서울대학교 재학생들을 위한 기부/경매 플랫폼입니다.</p>
      <a href="/login" class="btn btn-primary btn-lg">가입하기</a>
    </header>
    {% endif %}
    <!-- Page Features -->

    <div class="row" style="margin-top: 20px;">
      &nbsp;&nbsp;&nbsp;
      <form action="kind.jsp">
        종류&nbsp;
          <select name="kind">
	    <option value="1">전체</option>
	    <option value="2">의류/신발</option>
	    <option value="3">전자기기</option>
	    <option value="4">책</option>
	    <option value="5">기타</option>
	  </select>
      </form>
      &nbsp;&nbsp;&nbsp;
      
      <form action="date.jsp">
        날짜&nbsp;
          <select name="date">
	    <option value="1">전체</option>
	    <option value="2"> ~ 3일 이내</option>
	    <option value="3">3일 ~ 5일이내</option>
    	    <option value="4">5일 ~ 7일이내</option>
	    <option value="5">7일 ~ </option>
	  </select>
      </form>
      &nbsp;&nbsp;&nbsp;
      
      <form action="degreo.jsp">
        가격&nbsp;
          <select name="degreo">
            <option value="1">전체</option>
            <option value="2"> ~ 20,000원 미만</option>
            <option value="3">20,000원 ~ 40,000원 미만</option>
            <option value="4">40,000원 ~ 60,000원 미만</option>
            <option value="5">60,000원 ~ </option>
	  </select>
      </form>

      <div>
      &nbsp;&nbsp;&nbsp;
        <input type="text" name = "keyword" placeholder = "키워드 (단어)">
        &nbsp;
      
        <a href="/" class="btn btn-primary btn-sm">검색</a>
        &nbsp;
      
        <a href="/auction/create/" class="btn btn-primary btn-sm">등록</a>
      </div>
    </div>
    <br/>

    {% for auction in auctions %}
      {% if forloop.counter|divisibleby:4 %}
        <div class="row">
      {% endif %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item1.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ auction.name }}</h4>
            <p class="card-text text-left">
                <br/>
                시작가: {{ auction.min_bid }}원 <br/>
                현재가: {{ auction.now_bid }}원 <br/>
                입찰: {{ auction.participants_count }}명 <br/>
                종료: {{ auction.end_datetime }}
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="auction/detail/{{ auction.id }}" class="btn btn-primary">자세히보기</a>
            {% if request.user.is_admin %}
              <a href="auction/modify/{{ auction.id }}" class="btn btn-primary" style="margin-left: 10px;">수정</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:4 %}
        </div>
      {% endif %}
    {% endfor %}

  </div>
  <!-- /.container -->

{% endblock %}
