{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Page Content -->
  <div class="container">

    <div>
      <button>
        <a href="/auction/create">등록</a>
      </button>
    </div>

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">기부와 경매를 동시에</h1>
      <p class="lead">SNU 자선경매는 서울대학교 재학생들을 위한 기부/경매 플랫폼입니다.</p>
      <a href="/login" class="btn btn-primary btn-lg">가입하기</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item1.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Eastpak 가방</h4>
            <p class="card-text text-left">
                <br/>
                원가: 20,000원 <br/>
                현재가: 3,000원 <br/>
                입찰: 3명 <br/>
                종료: 3일 후
            </p>
          </div>
          <div class="card-footer">
            <a href="/login" class="btn btn-primary">입찰하기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item2.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">아디다스 슈퍼스타 오리지널</h4>
            <p class="card-text text-left">
                원가: 53,000원 <br/>
                현재가: 13,000원 <br/>
                입찰: 2명 <br/>
                종료: 5일 후
            </p>
          </div>
          <div class="card-footer">
            <a href="/login" class="btn btn-primary">입찰하기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item3.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Official TOEFL iBT Tests Vol 2</h4>
            <p class="card-text text-left">
                원가: 22,000원 <br/>
                현재가: 5,000원 <br/>
                입찰: 1명 <br/>
                종료: 7일 후</p>
          </div>
          <div class="card-footer">
            <a href="/login" class="btn btn-primary">입찰하기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item4.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">빈폴 지갑</h4>
            <p class="card-text text-left">
                <br/>
                원가: 2,000원 <br/>
                현재가: 0원 <br/>
                입찰: 0명 <br/>
                종료: 15일 후
            </p>
          </div>
          <div class="card-footer">
            <a href="/login" class="btn btn-primary">입찰하기</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}