{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="SNU Charity Auction">
  <meta name="author" content="SNU Charity Auction Team">

  <title>SNU자선경매</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">SNU자선경매</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin">관리자로그인</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-md btn-primary nav-login-btn" href="/login">로그인</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">기부와 경매를 동시에</h1>
      <p class="lead">SNU 자선경매는 서울대학교 재학생들을 위한 기부/경매 플랫폼입니다.</p>
      <a href="/register" class="btn btn-primary btn-lg">가입하기</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item1.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Eastpak 가방</h4>
            <p class="card-text text-left">
                <br/>
                원가: 20,000원 <br/>
                현재가: 3,000원 <br/>
                입찰: 3명 <br/>
                종료: 3일 후
            </p>
          </div>
          <div class="card-footer">
            <a href="/login" class="btn btn-primary">입찰하기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item2.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">아디다스 슈퍼스타 오리지널</h4>
            <p class="card-text text-left">
                원가: 53,000원 <br/>
                현재가: 13,000원 <br/>
                입찰: 2명 <br/>
                종료: 5일 후
            </p>
          </div>
          <div class="card-footer">
            <a href="/login" class="btn btn-primary">입찰하기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item3.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Official TOEFL iBT Tests Vol 2</h4>
            <p class="card-text text-left">
                원가: 22,000원 <br/>
                현재가: 5,000원 <br/>
                입찰: 1명 <br/>
                종료: 7일 후</p>
          </div>
          <div class="card-footer">
            <a href="/login" class="btn btn-primary">입찰하기</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{% static 'img/item4.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">빈폴 지갑</h4>
            <p class="card-text text-left">
                <br/>
                원가: 2,000원 <br/>
                현재가: 0원 <br/>
                입찰: 0명 <br/>
                종료: 15일 후
            </p>
          </div>
          <div class="card-footer">
            <a href="/login" class="btn btn-primary">입찰하기</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; SNU Charity Auction 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

</body>

</html>
