{% extends "base.html" %}
{% load static %}
{% block content %}
  <style>
    *, *:before, *:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

    body {
      font-family: 'Lato', sans-serif;
      color: #333;
      font-weight: 400;
      font-size: 16px;
    }

    table {
      max-width: 960px;
      margin: 80px auto;
    }

    caption {
      font-size: 18px;
      font-weight: 400;
      padding: 12px 0;
    }

    thead th {
      background: #bbdefb;
      color: #fff;
      font-weight: initial;
    }

    tr { background: #f1f1f1; }

    tr:nth-child(2n) { background: #e0e0e0; }

    th, td {
      text-align: left;
      padding: 24px;
    } 
  
    tfoot tr { background: none; }

    tfoot td {
      padding: 12px 2px;
      font-style: italic;
      color: #8a97a0;
    }
    
    
    .modal {
        text-align: center;
    }
 
    @media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
    }
    
    .modal-dialog.modal-size {
        width: 60%; 
        height: 60%; 
        margin: 0; 
        padding: 0; 
    }

 
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
 
  </style>
  <div class="container p-3">
    <h1 class="text-center md-10 mb-5 font-weight-bold">사용자 리스트</h1>
    <table>
      <thead>
      <tr>
        <td>No</td>
        <td>권한</td>
        <td>이름</td>
        <td>메일</td>
        <td>가입 날짜</td>
        <td></td>        
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          {% if user.is_admin %}
            <td>관리자</td>
          {% endif %}
          {% if not user.is_admin %}
            <td>사용자</td>
          {% endif %}
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.date_joined }}</td>
          <td>
            <div class="bottom"> 
              <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                관리
              </button> 
            </div> 
          </td>
        </tr>
        <!-- Modal --> 
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
          <div class="modal-dialog modal-size"> 
            <div class="modal-content modal-size"> 
              <div class="modal-header"> 
                <h4 class="modal-title" id="myModalLabel">사용자 정보</h4> 
              </div> 
              <div class="modal-body"> 
                <p>
                  <div class="row">
                    <div class="col-md-6">
                      이름
                    </div>
                    <div class="col-md-6">
                      {{ user.username }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      권한
                    </div>
                    <div class="col-md-6">
                      {% if user.is_admin %}
                        <td>관리자</td>
                      {% endif %}
                      {% if not user.is_admin %}
                        <td>사용자</td>
                      {% endif %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      메일
                    </div>
                    <div class="col-md-6">
                      {{ user.email }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      가입날짜
                    </div>
                    <div class="col-md-6">
                      {{ user.date_joined }}
                    </div>
                  </div>
                </p> 
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">회원탈퇴</button> 
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">닫기</button> 
              </div> 
            </div> 
          </div> 
        </div>   	
      {% endfor %}
      </tbody>
    </table>
    
  </div>
  <script>
    document.getElementById("modal_opne_btn").onclick = function() {
        document.getElementById("modal").style.display="block";
    }
   
    document.getElementById("modal_close_btn").onclick = function() {
        document.getElementById("modal").style.display="none";
    }   
  </script>
{% endblock %}
